<div class="sidebar d-flex flex-column flex-shrink-0 text-white bg-dark" style="width: 220px;">
  <hr>
  <div class="profilepic">
    <a
      [routerLink]="['/user', id]"
      class="text-white text-decoration-none">
      {{ profilePic }}
      <strong>menete</strong>
    </a>
  </div>
  <hr>
  <ul
    class="nav nav-pills flex-column mb-auto">
    <li class="text-center">
      <a
        routerLinkActive="routerlinkactive"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['']"
        class="nav-link text-white">
        <i class="fa-solid fa-house-chimney"></i> Home
      </a>
    </li>
    <li class="text-center">
      <a
        routerLinkActive="routerlinkactive"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/login']"
        class="nav-link text-white">
        Dashboard
      </a>
    </li>
  </ul>
  <hr>
  <div>
    <p class="bottom-sidebar">&copy; All rights are reserved</p>
  </div>
</div>
