.sidebar {
  height: 90vh;
  float: left;
}

hr {
  margin-top: 0;
}

.nav-link {
  text-decoration: none !important;
  background: none !important;
}

.routerlinkactive {
  background: #495057 !important;
}

.x {
  text-decoration: none !important;
}

.profilepic {
  padding: 10px;
  text-align: center;
}

.bottom-sidebar {
  padding: 10px;
  text-align: center;
}
