<div class="mt-2 mb-5" style="padding-left: 165px">
  <div id="post" *ngFor="let post of posts">
    <div class="card mb-1 p-3" >
      <h3> {{ post.title }} </h3>
      <p class="f"> Created {{ post.timeCreatedString }} </p>
      <hr/>
      <p> {{ post.bodyText }} </p>
      <p> {{ post.likeCount }} </p>

      <button class="btn btn-primary" (click)="likePost(post)" *ngIf="!post.alreadyLiked" > Like </button>
      <button class="btn btn-primary" (click)="unlikePost(post)" *ngIf="post.alreadyLiked" > Unlike </button>

      <button class="btn btn-primary bg-light text-black" (click)="post.commentIsHidden = !post.commentIsHidden"> Add Comment </button>
      <div class="comment-div" [hidden]="post.commentIsHidden">
          <textarea class="rounded"
                    placeholder="What are your thoughts?"
                    autosize></textarea>
          <button class="position-absolute end-0 bottom-0 m-2 rounded-circle">S</button>
      </div>
    </div>
  </div>
</div>
