<div *ngIf="moderator" class="button-pending">
  <button class="btn btn-success" type="button" (click)="seePendingUsers(group!.id!, pendingUsersModal)">See pending users</button>
</div>
<p>mygroup works! {{group!.id}}</p>

<ng-template #pendingUsersModal let-modal>
  <!--<div class='table-responsive' id='showModal'>
    <table class='table' aria-describedby='page-heading'>
      <thead>
        <tr>
          <th scope='col'>
            Username
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of pendingUsers' data-cy='entityTable'>
          <td style="display: flex; justify-content: center; text-align: center">{{ p?.username }}</td>
          <td><button class="btn btn-success" type="button" (click)="approveOrRejectRequest(group!.id!, p.id!, true)">Accept</button></td>
          <td><button class="btn btn-danger" type="button" (click)="approveOrRejectRequest(group!.id!, p.id!, false)">Decline</button></td>
        </tr>
      </tbody>
    </table>
  </div>-->
  <div style="display: flex; text-align: center; font-size: 2rem; margin: 1rem;" *ngIf="pendingUsers!.length === 0">
    No pending users
  </div>
  <div *ngIf="pendingUsers!.length > 0" class="users" >
    <div *ngFor='let p of pendingUsers'>
      <div class="content">
        <img style="padding: 0.5rem" width="64" height="64" class="rounded-circle me-2" src="{{ p?.imageString }}">
      </div>
      <div style="margin-bottom: 1rem" class="content">
        {{ p.username }}
      </div>
      <div class="buttons">
        <button style="margin-left: 0.5rem" class="btn btn-success" type="button" (click)="approveOrRejectRequest(pendingUsersModal, group!.id!, p.id!, true)">Accept</button>
        <button style="margin-left: 0.5rem; margin-right: 0.5rem" class="btn btn-danger" type="button" (click)="approveOrRejectRequest(pendingUsersModal, group!.id!, p.id!, false)">Decline</button>
      </div>
    </div>
  </div>
</ng-template>
