<div style="display: inline">
  <div *ngIf="moderator" class="button-pending">
    <button class="btn btn-success" type="button" (click)="createPost(group!.id!, createPostModal)">Create post</button>
    <button style="margin-left: 0.4rem" class="btn btn-success" type="button" (click)="seePendingUsers(group!.id!, pendingUsersModal)">See pending users</button>
  </div>
  <div *ngIf="!moderator" class="button-pending">
    <button class="btn btn-success" type="button" (click)="createPost(group!.id!, createPostModal)">Create post</button>
  </div>
</div>

<p>mygroup works! {{group!.id}}</p>
<app-groupfeed [groupId]="group!.id!" ></app-groupfeed>

<ng-template #pendingUsersModal let-modal>
  <div style="display: flex; text-align: center; font-size: 2rem; margin: 1rem;" *ngIf="pendingUsers!.length === 0">
    No pending users
  </div>
  <div *ngIf="pendingUsers!.length > 0" class="users" >
    <div *ngFor='let p of pendingUsers'>
      <div class="content">
        <img style="padding: 0.5rem" width="64" height="64" class="rounded-circle me-2" src="{{ p?.imageString }}">
      </div>
      <div style="margin-bottom: 1rem" class="content">
        {{ p.username }}
      </div>
      <div class="buttons">
        <button style="margin-left: 0.5rem" class="btn btn-success" type="button" (click)="approveOrRejectRequest(pendingUsersModal, group!.id!, p.id!, true)">Accept</button>
        <button style="margin-left: 0.5rem; margin-right: 0.5rem" class="btn btn-danger" type="button" (click)="approveOrRejectRequest(pendingUsersModal, group!.id!, p.id!, false)">Decline</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #createPostModal let-modal>
  <form [formGroup]="postForm">
    <div class="mb-3">
      <label class="medium mb-1" for="titlePost">Title</label>
      <input formControlName="title" class="form-control" id="titlePost" type="text" placeholder="Enter your username">
    </div>
    <div class="mb-3">
      <label class="medium mb-1" for="textPost">Title</label>
      <textarea formControlName="bodyText" class="form-control" id="textPost" type="text" placeholder="Enter your username"></textarea>
    </div>
    <button class="btn btn-primary" (click)="post(group!.id!)">Post</button>
  </form>
</ng-template>
