<div style="padding-left: 200px; padding-top: 100px">
  <button *ngIf="moderator" type="button" (click)="seePendingUsers(group!.id!, pendingUsersModal)">See pending users</button>

  <app-groupfeed [groupId]="group!.id!" ></app-groupfeed>

</div>

<ng-template #pendingUsersModal let-modal>
  <div class='table-responsive' id='showModal'>
    <table class='table' aria-describedby='page-heading'>
      <thead>
        <tr>
          <th scope='col'>
            Username
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of pendingUsers' data-cy='entityTable'>
          <td>{{ p?.username }}</td>
          <td><button type="button" (click)="approveOrRejectRequest(group!.id!, p.id!, true)">Accept</button></td>
          <td><button type="button" (click)="approveOrRejectRequest(group!.id!, p.id!, false)">Decline</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
