<div>
  <nav class="navbar fixed-top navbar-light bg-dark">
    <a href=""><img src="../../../assets/images/logo%20alb%201@1xv2.png" margin-left=40% width=70% height=70%></a>
    <form class="form-inline">
      <div class='container'>
        <button [routerLink]="['/login']" type="button" class='btn btn-light'>Login</button>
        <div class="space">
        </div>
        <button [routerLink]="['/signup']" type="button" class="btn btn-danger">Sign Up</button>
      </div>
    </form>
  </nav>
</div>

