.button-newchat {
  display: flex;
  justify-content: end;
  text-align: end;
  margin-right: 2rem;
}

#group {
  display: inline-block;
  margin: 1rem;
}

.card {
  padding: 10px;
  width: 500px;
  height: 200px;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.users {
  margin: 1rem 0;
}

.ng-template {
  overflow-y: scroll;
}
